{{#each articles}}
  <div class="card border-primary mb-3">
    <div class="card-header">
      <h4>
        <div class="row">
          <div class="col-md-10">
            <a target="_blank" rel="noopener noreferrer" href={{link}}>
              {{title}}
            </a>
          </div>
          <div class="col-md-2">
            <a class="btn btn-primary save" data-title="{{title}}" data-link="{{link}}" data-summary="{{summary}}" data-picture="{{picture}}">Save Article</a>
          </div>
        </div>
      </h4>
    </div>
    <div class="card-body">
      <img src={{picture}}>
      <p class="summary">{{summary}}</p>
    </div>
  </div>
{{/each}}